.weekdayTabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.count {
  position: absolute;
  top: 0px;
  right: 5px;
  width: 10px;
  height: 10px;
}
