*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  height: 100vh;
  width: 100vw;
}

.jobs-container {
  width: 100%;
  height: 100%;
}

.jobs-main_section {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  padding: 20px;
}
